* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}


html,
body {
	background-color:#fff;
	color:#000;
	text-rendering:optimizeLegibility;
	font-size: 16px;
	font-family: 'Work Sans','Arial',sans-serif;
	font-weight: 300;
}

.row {
	max-width:1140px;
	margin:0 auto;
}

/*** HEADER SECTION ****/

header {
	background-image:url(images/bg-img.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
}

.header-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

h1 {
	font-size: 620%;
	color: #fff;
	font-weight: 400;
	margin-bottom: 20px;
}

h2 {
	font-size: 300%;
	color: #fff;
	font-weight: 400;
}

/*** BUTTON ****/

.btn {
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 200px;
}
.btn-full{
	background-color: #ed07b7;
	color: #fff;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #19184B;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #ed07b7;}

.dropdown:hover .dropdown-content {
  display: block;
 }

.main-nav{
	list-style: none;
	float: right;
	margin-top: 50px;
}

.main-nav li{
	display: inline-block;
	margin-right: 50px;
	text-transform: uppercase;
}

.main-nav li a {
	text-decoration: none;
	color: #fff;
	font-size: 150%;
}

/*** LOGO ****/

.logo{
	height: 110px;
	widows: auto;
	float: left;
}

/*** AUTOBIOGRAPHIES-SECTION ****/

.section-heading{
	font-size: 550%;
	color: #00008B;
	position: center;
	margin-bottom: 30px;
	margin-top: 20px;
}

.section-sub-heading{
	font-size: 200%;
	color:white;
	margin-bottom: 20px;
	font-weight: 500;
	margin-bottom: 30px;
}

.autobiographies-section{
	text-align: center;
	background-color:#F2A979;
}

/*** MARATHI CONTENT ***/

.autobiographies-section{
	padding-bottom: 50px;
}

.section-heading{
	font-size: 550%;
	color: #00008B;
	position: center;
	margin-bottom: 30px;
	margin-top: 50px;
}

.section-sub-heading{
	font-size: 250%;
	color: white;
	background-color: #FFFAF0;
	margin-bottom: 20px;
	font-weight: 500;
	margin-bottom: 30px;
}
.marathicontent-section{
	text-align: center;
	background-color: #87CEFA;
}
/*** HARRY POTTER SERIES***/

.marathicontent-section{
	padding-bottom: 20px;
}
.section-heading{
	font-size: 550%;
	color: #00008B;
	position: center;
	margin-bottom: 30px;
	margin-top: 20px;
}

.section-sub-heading{
	font-size: 200%;
	color: #F98FEB;
	margin-bottom: 20px;
	font-weight: 500;
	margin-bottom: 30px;
}

.harrypotterset-section{
	text-align: center;
	background-color: #FFE4C4;
}

/*** NON FICTION ***/

.harrypotterset-section{
	padding-bottom: 20px;
}
.section-heading{
	font-size: 550%;
	color: #00008B;
	position: center;
	margin-bottom: 30px;
	margin-top: 20px;
}

.section-sub-heading{
	font-size: 200%;
	color: #F98FEB;
	margin-bottom: 20px;
	font-weight: 500;
	margin-bottom: 30px;
}

.nonfiction-section{
	text-align: center;
	background-color: #98FB98;
}

/*** Sudha Murty ***/

.nonfiction-section{
	padding-bottom: 20px;
}
.section-heading{
	font-size: 550%;
	color: #00008B;
	position: center;
	margin-bottom: 30px;
	margin-top: 20px;
}

.section-sub-heading{
	font-size: 200%;
	color: #F98FEB;
	margin-bottom: 20px;
	font-weight: 500;
	margin-bottom: 30px;
}

.sudhamurty-section{
	text-align: center;
	background-color: #D2B48C;
}

/*** Sherlock Holmes ***/

.sudhamurty-section{
	padding-bottom: 20px;
}
.section-heading{
	font-size: 550%;
	color: #00008B;
	position: center;
	margin-bottom: 30px;
	margin-top: 20px;
}

.section-sub-heading{
	font-size: 200%;
	color: #F98FEB;
	margin-bottom: 20px;
	font-weight: 500;
	margin-bottom: 30px;
}

.sherlockholmes-section{
	text-align: center;
	background-color: #F0E68C;
}

/*** MYTHOLOGY BOOKS ***/

.sherlockholmes-section{
	padding-bottom: 20px;
}
.section-heading{
	font-size: 550%;
	color: #00008B;
	position: center;
	margin-bottom: 30px;
	margin-top: 20px;
}

.section-sub-heading{
	font-size: 200%;
	color: #F98FEB;
	margin-bottom: 20px;
	font-weight: 500;
	margin-bottom: 30px;
}

.mythofiction-section{
	text-align: center;
	background-color: #FFC0CB;
}

/*** NOVELS ***/

.mythofiction-section{
	padding-bottom: 20px;
}
.section-heading{
	font-size: 550%;
	color: #00008B;
	position: center;
	margin-bottom: 30px;
	margin-top: 20px;
}

.section-sub-heading{
	font-size: 200%;
	color: #F98FEB;
	margin-bottom: 20px;
	font-weight: 500;
	margin-bottom: 30px;
}

.novels-section{
	text-align: center;
	background-color: #F0E68C;
}

